@use '@pg.dsp/tokens/dist/scss/tokens';
@use '@pg.dsp/tokens/dist/scss/mixins';

.pgds-button {
  &__wrapper {
    padding: 0;
    margin: 0;
    width: fit-content;
  }

  &__element {
    @extend %pgds-text-heading-h5;

    background-color: tokens.$pgds-color-button-background-default;
    border: 1px solid tokens.$pgds-color-button-border-default;
    color: tokens.$pgds-color-button-text-default;
    padding: tokens.$pgds-space-inset-half-stretch;
  }
}
