@import "@pg.dsp/tokens/dist/css/_tokens.css";

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: var(--pgds-text-heading-h2-font-size);
}

.pgds-button {
  border: 5px solid #000;
}

.footer {
  color: var(--pgds-color-base-turquoise-normal);
}